body {
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

#puzzle {
  margin-top: 20px;
  display: inline-grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 6px;
}

.tile {
  width: 80px;
  height: 80px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 8px;
  font-weight: bold;
}

.tile.blank {
  background: #bbb;
}
